* {
  box-sizing: border-box;
}

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100%;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  height: 100vh;
}

main {
  height: 100%;
}

main.light {
  background-color: #ffffff;
  color: #333333;
}

main.dark {
  background-color: #333333;
  color: #ffffff;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 2rem;
}

.ant-btn-primary {
  min-width: 6rem;
  margin-inline-start: 1rem;
}

.error-msg {
  color: #f92672;
  margin-block: 2px 0;
  font-size: 0.9rem;
  font-weight: 400;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0rem 4rem;
  background-color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav a {
  color: #fff;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}

nav h2 {
  margin: 0;
}

.nav-cart {
  display: flex;
}

.nav-cart-icon {
  display: flex;
}

.nav-quantity {
  display: flex;
  justify-content: center;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #fff;
  font-size: 10px;
  font-weight: 700;
  color: black;
  margin-left: 5px;
}

.nav-actions {
  display: flex;
  align-items: center;
}

header .ant-switch {
  margin-inline-start: 1rem;
  background-color: #707070;
}

header .ant-switch:hover:not(.ant-switch-disabled) {
  background-color: #707070;
}

.ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
  background-color: #707070;
}

.dark .ant-switch-checked {
  background-color: #707070;
}

.dark h1,
.dark h2,
.dark h3 {
  color: #fff;
}

.dark .ant-form-item-label > label {
  color: #fff;
}

.dark .ant-btn:disabled {
  color: #fff;
  background-color: #cccccc;
  color: #666666;
}

/* Home */
.home-page {
  padding: 2rem 4rem;
}

.home-page h2 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 15px;
  width: 250px;
  max-width: 100%;
  height: 400px;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5),
    2px 2px 5px rgba(94, 104, 121, 0.3);
}

main.dark .product {
  box-shadow: -5px -5px 10px rgb(0 0 0 / 50%),
    2px 2px 5px rgba(94, 104, 121, 0.3);
}

.product h3 {
  font-size: 15px;
  font-weight: 400;
}

.product .img-wrapper {
  display: flex;
  justify-content: center;
  height: 200px;
}

.product img {
  width: auto;
  height: 100%;
  object-fit: contain;
}

.product .price {
  font-size: 20px;
  font-weight: 700;
}

/* Cart */
.cart-page {
  padding: 2rem 4rem;
}

.cart-page h2 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.cart-product {
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr 1fr;
  column-gap: 0.5rem;
  padding: 1rem 0;
  border-top: 1px solid rgb(187, 187, 187);
}

.cart-product h3 {
  padding-inline: 0.5rem;
  font-weight: 400;
  font-size: 1rem;
}

.cart-product img {
  width: 100px;
  max-width: 100%;
  margin-right: 1rem;
}

.cart-product .price {
  padding-right: 0.5rem;
  justify-self: right;
  font-weight: 700;
}

/* Checkout */
.checkout-page {
  padding: 2rem 4rem;
}

.checkout-page h2 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.step-one,
.step-two {
  max-width: 500px;
  margin: 0 auto;
}

.step-one h3,
.step-two h3 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.step-two .user-data,
.step-two .promo-code {
  max-width: 500px;
  font-size: 1rem;
  font-weight: 500;
}

.step-two .ant-col,
.step-two .ant-col label {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

/* Receipt */
.receipt-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem 4rem;
}

.receipt-page h2 {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.receipt-page h3 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.receipt-page ul {
  list-style: none;
  padding: 0;
}

.receipt-page li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.receipt-page .final-price {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.receipt-page .promo-code {
  color: #f92626;
}
